---
layout: page
date: 2015-12-10 22:38
comments: true
sharing: true
footer: true
---
<div class="about-me-wrapper">
  <p class="about-me-desription-context">
    I'm a Web/DB Developer Base on Ruby On Rails and ASP.NET, I always love learning and researching for the new things, I have done with Ruby On Rails and Pair programming, I hold Joomla PHP in the past. I Like Coding, blogging, and sharing my knowledge to the people very much. I have been working on #Ruby, #rails, #Javascripts, SASS, Haml. During the last 1 Year I have worked extensively on Ruby on Rails.Ruby on Rails becomes my primary development tool and I really love doing it. I have some experiences on developing Single Page Application with Ruby On Rails Framework, Jerkyll, Static web generator I have started working with multiple themes project by using ROR. I am willing to help people to share my knowledge to other by pairing with random people as my hobby.
  </p>

  <h3>  Web Development Skill Set </h3>

  <p class="about-me-highlight">Since my start in web development in 2013, I've amassed a skill set that allows me to serve clients in a wide range of domains. Below is a list of some tools in my toolbox. The list is not meant to be exhaustive, but to give a general indication of the ground I'm familiar with.</p>

  <h3 class="about-me-skills"> Server-Side </h3>
  <blockquote>
    <p​ class="about-me-skill-title">Ruby</p>
    {% assign starts = 5 %}
    <footer>Ruby<cite title="Source Title"></cite> {% include about/star_rate.html %} </footer>

    {% assign starts = 4 %}
    <footer>Ruby on Rails 2.x, 3.x, 4.x <cite title="Source Title"> ( MVC rapid application development)</cite> {% include about/star_rate.html %} </footer>

    {% assign starts = 3 %}
    <footer>Key Ruby on Rails Gems<cite title="Source Title">methodologies</cite> {% include about/star_rate.html %} </footer>

    {% assign starts = 5 %}
    <footer>Ruby Gem management<cite title="Source Title"></cite> {% include about/star_rate.html %} </footer>

    {% assign starts = 1 %}
    <footer>Ruby Gem production<cite title="Source Title"></cite> {% include about/star_rate.html %} </footer>

    {% assign starts = 5 %}
    <footer>Rapid coding: HAML, SASS, Textile, Markdown<cite title="Source Title"></cite> {% include about/star_rate.html %} </footer>

    {% assign starts = 5 %}
    <footer>Rapid coding: HAML, SASS, Textile, Markdown<cite title="Source Title"></cite> {% include about/star_rate.html %} </footer>
  </blockquote>


<style type="text/css">
  .about-me-skills {
    color: #424242;
    margin-top: 15px;
    margin-bottom: 0;
  }
</style>
</div>



